/* Style pour la bordure verte en bas des en-têtes */
.border-bottom-green {
    border-bottom: 2px solid #46A358 !important; /* Vert Bootstrap (#46A358) */
  }
  
  /* Style pour le tableau personnalisé */
  .custom-table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
  }
  
  .custom-table th,
  .custom-table td {
    padding: 0.75rem;
    vertical-align: middle; /* Centrer verticalement */
    border-top: none;
    text-align: center; /* Centrer horizontalement */
  }
  
  .custom-table td {
    font-weight: bold;
  }
  
  .custom-table td a {
    color: #46A358;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: large;
    font-weight: 500;
  }
  
  .bold-text {
    color: #46A358;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: large;
    font-weight: bold;
  }
  
  .custom-table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Effet de survol */
  }
  
  /* Style pour les boutons */
  .btn-success {
    background-color: #46A358;
    border-color: #46A358;
  }
  
  .btn-success:hover {
    background-color: white;
    border-color: #46A358;
    color: #46A358;
  }
  
  .btn-outline-secondary {
    border-color: #6c757d;
    color: #6c757d;
  }
  
  .btn-outline-secondary:hover {
    background-color: #6c757d;
    color: #fff;
  }
  
  /* Style pour la mise en page des tables */
  .product-table {
    flex: 0 0 70%; /* 70% de la largeur */
  }
  
  .cart-summary {
    flex: 0 0 30%; /* 30% de la largeur */
  }
  
  /* Style pour la grille de produits */
  .produits-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 produits par ligne */
    gap: 20px; /* Espacement entre les produits */
  }
  
  .produit-card {
    border-radius: 8px;
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s ease;
  }
  
  .produit-card:hover {
    transform: scale(1.05); /* Effet de zoom au survol */
  }
  
  .produit-image-container {
    position: relative;
    overflow: hidden;
  }
  
  .produit-image {
    width: 100%;
    height: auto;
    max-width: 250px; /* Limite la largeur de l'image */
  }
  
  .cart-icon-overlay {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Fond gris clair semi-transparent */
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .cart-icon {
    color: #46A358; /* Couleur verte pour l'icône */
    font-size: 1.5rem; /* Taille de l'icône */
  }
  
  .produit-details {
    padding: 10px;
  }
  
  .produit-nom {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .produit-prix {
    font-size: 1rem;
    color: #46A358;
    font-weight: bold;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  